body, html {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: #303030;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
header {
    display: relative;
    margin-top: -25px;
    background-color: #000000;
}
header h1 {
    font-size: 35px;
    padding: 35px;
    color: white;
}
.head {
    font-size: 16px;
}
.menu-items a {
    color: #ffffff;
    margin: 0px 30px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 15px;
}
.menu-items a:hover {
    text-decoration: underline;
}
.body {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 20px;
}
.text {
    max-width: 880px;
}
.img {
    display: flex;
}
.bild {
    width: 25%;
    margin-left: 300px;

}
.bild2 {
    width: 50%;
    margin-bottom: 50px;
}
.container {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
@media only screen and (max-width: 1000px) {
    .img {
      flex-direction: column;
    }
    .bild .bild2{
        width: 80%;
    }
}
.top{
    margin-top: 50px;
}
.rubrik{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containers{
    border: 5px solid black;
    max-width: 1000px;
    margin: 0 auto; 
}
.spelrubriker{
    max-width: 100px;
}
.spel{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.rsize{
    font-size: 30px;
    margin-top: 50px;
}
.bottop{
    color: #303030;
}
